extends includes/layout.pug

block content
    .notice
        .row
            section.col-md-3
                .intro
                    .list-group
                        a.list-group-item.active(href='#') 栏目导航
                        a.list-group-item(href='#', target='_blank') 机构设置：人事处简介
                        a.list-group-item(href='#', target='_blank') 办事流程：日常业务流程
                        a.list-group-item(href='#', target='_blank') 规章制度：人事规章制度
                        a.list-group-item(href='#', target='_blank') 师资队伍：师资队伍建设
            section.col-md-9.content
                article.main
                    header 云南大学纳税人识别号、开户银行等信息
                    h5.text-center
                        |   作者:
                        mark 刘东华
                        |   发布时间:
                        time 2017年11月21日 08:31
                        |   阅读次数:
                        span(id='', name='') 112
                    hr
                    p
                        | 云南大学纳税人识别号、开户银行等信息
                        | 云南大学纳税人识别号、开户银行等信息
                        | 云南大学纳税人识别号、开户银行等信息