extends includes/layout.pug

block content
    section.notice
        .row
            .col-md-3
                h3
                    i.glyphicon.glyphicon-home  
                    | 联系方式
                ul
                    li
                        a(href='#') 综合科 0871-65033840
                    li
                        a(href='#') 人事科 0871-65033841
                    li
                        a(href='#') 薪酬福利科 0871-65033842
                    li
                        a(href='#') 师资培养科 0871-65033843
                    li
                        a(href='#') 社会保障科 0871-65033544
            .col-md-5
                h3
                    a(href='#') 招聘启事
                ul
                    li
                        a(href='#', title='云南大学第二批“东陆学者”支持计划遴选结果公示') 云南大学第二批“东陆学者”
                        span(style='float: right') 10/31
                    li
                        a(href='#', title='关于推荐2017年度全国三八红旗手标兵的通知') 关于推荐2017年度全国三
                        span(style='float: right') 10/27
                    li
                        a(href='#', title='云南大学关于开展2017年专业技术职务评聘工作的通知') 云南大学关于开展2017年通知
                        span(style='float: right') 10/25
                    li
                        a(href='#', title='云南大学关于开展2017年专业技术职务评聘工作的通知') 云南大学关于开展2017年专业技术职务
                        span(style='float: right') 10/25
                    li
                        a(href='#', title='关于第二批“东陆学者”支持计划遴选答辩的通知') 关于第二批“东陆学者”支持计
                        span(style='float: right') 10/25
            .col-md-4
                h3
                    a(href='#') 工作动态
                ul
                    li
                        a(href='#', title='云南大学第二批“东陆学者”支持计划遴选结果公示') 云南大学第二批
                    li
                        a(href='#', title='关于推荐2017年度全国三八红旗手标兵的通知') 关于推荐2017年度全国
                    li
                        a(href='#', title='云南大学关于开展2017年专业技术职务评聘工作的通知') 云南大学关于
                    li
                        a(href='#', title='关于第二批“东陆学者”支持计划遴选答辩的通知') 关于第二批东陆学者
                h3
                    a(href='#') 通知公告
                ul
                    li
                        a(href='#', title='云南大学第二批“东陆学者”支持计划遴选结果公示') 云南大学第二批
                    li
                        a(href='#', title='关于推荐2017年度全国三八红旗手标兵的通知') 关于推荐2017年度全国
                    li
                        a(href='#', title='云南大学关于开展2017年专业技术职务评聘工作的通知') 云南大学关于
                    li
                        a(href='#', title='关于第二批“东陆学者”支持计划遴选答辩的通知') 关于第二批东陆学者
    section.office
        .row
            .col-md-3.col-sm-6.col-xs-12.feature-item
                .media
                    .media-left
                        a(href='#')
                            img.media-object(data-src='holder.js/64x64', alt='64x64', src='/images/office1.png', data-holder-rendered='true', style='width: 64px; height: 64px;')
                    .media-body
                        h4.media-heading
                            a(href='#') 人事管理系统
                        p 包含岗位设置、年度考核、公开招聘等功能的人事管理系统。
            .col-md-3.col-sm-6.col-xs-12.feature-item
                .media
                    .media-left
                        a(href='#')
                            img.media-object(data-src='holder.js/64x64', alt='64x64', src='/images/office2.png', data-holder-rendered='true', style='width: 64px; height: 64px;')
                    .media-body
                        h4.media-heading
                            a(href='#') 人才招聘与引进
                        p 教职工公开招聘、高层次人才引进相关事宜办理。
            .col-md-3.col-sm-6.col-xs-12.feature-item
                .media
                    .media-left
                        a(href='#')
                            img.media-object(data-src='holder.js/64x64', alt='64x64', src='/images/office3.png', data-holder-rendered='true', style='width: 64px; height: 64px;')
                    .media-body
                        h4.media-heading
                            a(href='#') 师资培养
                        p 人才培养、访学进修、职称证书、教师资格证等相关事宜办理。
            .col-md-3.col-sm-6.col-xs-12.feature-item
                .media
                    .media-left
                        a(href='#')
                            img.media-object(data-src='holder.js/64x64', alt='64x64', src='/images/office3.png', data-holder-rendered='true', style='width: 64px; height: 64px;')
                    .media-body
                        h4.media-heading
                            a(href='#') 社会保障
                        p 教职工养老保险、医疗保险、计划生育、公积金等相关事宜办理。
            .col-md-3.col-sm-6.col-xs-12.feature-item
                .media
                    .media-left
                        a(href='#')
                            img.media-object(data-src='holder.js/64x64', alt='64x64', src='/images/office3.png', data-holder-rendered='true', style='width: 64px; height: 64px;')
                    .media-body
                        h4.media-heading
                            a(href='#') 人事证明出具
                        p 教职工在职证明、工资证明、公积金证明等办理。
            .col-md-3.col-sm-6.col-xs-12.feature-item
                .media
                    .media-left
                        a(href='#')
                            img.media-object(data-src='holder.js/64x64', alt='64x64', src='/images/office3.png', data-holder-rendered='true', style='width: 64px; height: 64px;')
                    .media-body
                        h4.media-heading
                            a(href='#') 因公因私出国（境）审批
                        p 教职工因公出国、因私出国（境）相关事宜办理。
            .col-md-3.col-sm-6.col-xs-12.feature-item
                .media
                    .media-left
                        a(href='#')
                            img.media-object(data-src='holder.js/64x64', alt='64x64', src='/images/office3.png', data-holder-rendered='true', style='width: 64px; height: 64px;')
                    .media-body
                        h4.media-heading
                            a(href='#') 人事档案利用
                        p 教职工人事档案利用等相关事宜办理。
            .col-md-3.col-sm-6.col-xs-12.feature-item
                .media
                    .media-left
                        a(href='#')
                            img.media-object(data-src='holder.js/64x64', alt='64x64', src='/images/office3.png', data-holder-rendered='true', style='width: 64px; height: 64px;')
                    .media-body
                        h4.media-heading
                            a(href='#') 博士后流动站
                        p 博士后流动站相关情况简介，博士后进站办理。