extends includes/layout.pug

block content
    section.notice
        .row
            .col-md-3
                .intro
                    .list-group
                        a.list-group-item.active(href='#')
                            | 栏目导航
                        a.list-group-item(href='#', target='_blank') 机构设置：人事处简介
                        a.list-group-item(href='#', target='_blank') 办事流程：日常业务流程
                        a.list-group-item(href='#', target='_blank') 规章制度：人事规章制度
                        a.list-group-item(href='#', target='_blank') 师资队伍：师资队伍建设
            .col-md-9
                h3
                    a(href='#') 首页
                    |                     /
                    a(href='#') 招聘启事
                    |                     / 文章列表
                ul
                    li
                        a(href='#') 云南大学引进人才暂行办法
                        span(style='float: right') 2015-05-15 11:47:10
                    span#section_u2_0(style='display:none;')
                        hr(style='height:1px;border:none;border-top:1px dashed #CCCCCC;')
                    li
                        a(href='#') 云南大学高层次人才招聘公告
                        span(style='float: right') 2015-06-09 17:38:45
                    span#section_u2_1(style='display:none;')
                        hr(style='height:1px;border:none;border-top:1px dashed #CCCCCC;')
                    li
                        a(href='#') 云南大学面向全球招聘部分学院、研究院院长公告
                        span(style='float: right') 2017-03-16 09:40:08
                    span#section_u2_2(style='display:none;')
                        hr(style='height:1px;border:none;border-top:1px dashed #CCCCCC;')
                    li
                        a(href='#') 云南大学昌新国际艺术学院2017年公开招聘事业编制工作人员年龄条件的补充公告
                        span(style='float: right') 2017-07-14 17:22:16