section.footer
    .copyright
        .row
            .col-md-12
                | Copyright © 2009-2017 All Rights Reserved 云南大学信息技术中心 版权所有 Division of Personnel,Yunnan
                | University
                br
                |                     地址：云南省昆明市呈贡新区大学城东外环南路云南大学呈贡校区敬宾楼 邮编：65031141
                a(href='#', target='_blank') .